.body {
    background-color:#F5F5F5;
}
.anim {
    height: 10px;
    border-style: solid;
    border-width: 1px;
    width: 0px;
    transition: width 2s;
    overflow: visible;
}
.movesList {
    width: 350px;
    height:380px;
    overflow: auto;
}
.statbarTable{
    padding: 5px;
    width: 350px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 4px 4px 5px lightgrey;
}
.movesTable {
    border-radius: 5px;
    background-color: white;
    box-shadow: 3px 3px 5px lightgrey;
}
.moveTableHead {
    width: 95px;
}

.statbar{
    display:flex;
    width:500px;
    transition: width 2s;
}
@media only screen and (max-width: 600px){
    .statbar{
        width: 260px;
    }
}
@media only screen and (max-height: 700px){
    .movesList{
        height: 240px;
    }
}